<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Greenside</title>
    <link rel="icon" type="image/x-icon" href="logo2.png"> <!-- Corrija o caminho do ícone -->
    <link rel="stylesheet" href="cadastro.css"> <!-- Corrija o caminho do CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div>
            <div>
                <div class="product-image" id="img-1"></div>
                <img src="logoMain.png" alt="lomg" class="left_header" id="img-1">
                <!-- Corrija o caminho do logotipo -->
            </div>


            <img src="Remote work.png" alt="img" class="left_img">
        </div>
        <div class="right">
            <div>
                <div style="text-align: center;">
                    <p class="right_title">Bem Vindo à Greenside!</p>
                    <p class="right_subtitle">Crie sua conta e comece a usar nossos serviços</p>
                </div>
                <form action="/cadastro" method="post" autocomplete="on" class="right_form">
                    <div Nome>
                        <section class="right_form_section">
                            <label for="nome" class="label">Nome:</label><br>
                            <input type="text" id="nome" name="nome" placeholder="Nome" class="input" required><br>
                        </section>
                    </div>


                    <div CPF>
                        <section class="right_form_section">
                            <label for="cpf" class="label">CPF:</label><br>
                            <input type="text" id="cpf" name="cpf" placeholder="CPF" class="input" required><br>
                        </section>
                    </div>

                    <div Email>
                        <section class="right_form_section">
                            <label for="email" class="label">Email:</label><br>
                            <input type="text" id="email" name="email" placeholder="Email" class="input" required><br>
                        </section>
                    </div>

                    <div Senha>
                        <section class="right_form_section">
                            <label for="senha" class="label">Senha:</label><br>
                            <input type="password" id="senha" name="senha" placeholder="Senha" class="input"
                                required><br>
                        </section>
                    </div>

                    <button type="submit" class="btn">CONTINUAR</button>
                </form>
                <div style="text-align: center;">
                    <p class="right_text">Já tem uma conta?</p>
                    <span class="right_text"><a href="#">
                            <p>Faça login</p>
                        </a></span>
                </div>
            </div>
        </div>
    </main>
</body>